/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  position: relative;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.header::before {
  content: '';
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 10px;
}

.header::after {
  content: '';
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  position: absolute;
  right: 0;
  top: 10px;
}

.section__content {
  margin: 0 10px;
}

.header__decor {
  position: relative;
  justify-self: end;
  margin-inline-end: 28px;
  color: #FF0070;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header__decor::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0 0 5px 3px var(--accent-color, #FF0070);
}


.header__theme-menu {
  justify-self: end;
  margin-inline-end: 7px;
  margin-block-start: 37px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-family: var(--main-font, 'sans-serif');
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
}

.cover__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-title, 'sans-serif');
  font-family: var(--main-font, 'sans-serif');
  text-transform: lowercase;
  line-height: 82.5%;
  text-align: left;
  margin-block-start: 66px;
  margin-block-end: 55px;
}

.title-decor {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-family: var(--main-font, 'sans-serif');
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.pink_color {
  font-family: var(--main-font, 'sans-serif');
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-block-end: 56px;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-attachment: fixed;
}

.main {
  margin: 40px 0;
}

.hard__concentration {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-family: var(--main-font, 'sans-serif');
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.section__subtitle {
  margin-block-end: 10px;
}

.section__paragraph {
  color: var(--text-color);
  font-family: var(--main-font, 'sans-serif');
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.less__concentration {
  margin-block-start: 50px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.improve__concentration {
  margin-block-start: 50px;
  display: grid;
  grid-template-rows: repeat(7, auto);
  gap: 20px;
}

.section__subtitle-decor {
  margin-block-end: 20px;
}

.section__advices {
  font-weight: 400;
}

.cards__images {
  margin-block-start: 30px;
}

.grid__cells__images-item-1 {
  grid-area: sunset;
}

.grid__cells__images-item-2 {
  grid-area: icecream;
}

.grid__cells__images-item-3 {
  grid-area: tape;
}

.grid__cells__images-item-4 {
  grid-area: books;
}

.grid__cells__images-item-5 {
  grid-area: street;
}

.grid__cells__images {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  row-gap: 10px;
  grid-template-areas: 
  "sunset"
  "icecream"
  "tape"
  "books"
  "street";
}

.img__cell {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer { 
  padding: 286px 0;
  position: relative;
}

.footer::before {
  content: '';
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 10px;
}

.footer::after {
  content: '';
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  position: absolute;
  right: 0;
  top: 10px;
}

.footer__title {
  color: var(--header-title);
  text-shadow: 2px 2px var(--accent-color);
  font-family: var(--main-font, 'sans-serif');
  font-size: 116px;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  text-transform: lowercase;
  text-align: center;
}

@media screen and (width >= 768px) {

  .header {
    padding-block-start: 20px;
    padding-block-end: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .header::before {
    bottom: 20px;
  }

  .header::after {
    top: 20px;
  }
  
  .header__decor {
    grid-column: 1/3;
  }

  .section__content {
    margin: 0 20px;
  }

  .header__theme-menu {
    margin-block-start: 142px;
    grid-column: 1/3;
  }

  .cover__title {
    margin-block-start: 174px;
    margin-block-end: 162px;
    margin-inline-start: -20px;
    grid-column: 1/3;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
    word-spacing: -5px
  }

  .pink_color {
    margin-block-end: 163px;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
  }

  .hard__concentration {
    margin-block-start: 60px;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    column-gap: 40px;
  }

  .section__title {
    grid-column: 1 / 2;
  }

  .grid__cell {
    grid-column: 2/ 4;
  }

  .less__concentration {
    margin-block-start: 80px;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    column-gap: 40px;
  }

  .less__concentration .grid__cell {
    grid-column: 1 / 4;
  }

  .improve__concentration {
    margin-block-start: 80px;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    column-gap: 20px;
  }

  .improve__concentration .grid__cell {
    margin-inline-start: 7px;
  }

  .section__subtitle-decor {
    margin-block-end: 20px;
  }

  .cards__images {
    margin-block-start: 80px;
  }

  .cards__images .section__subtitle {
    margin-block-end: 20px;
  }

  .grid__cells__images {
    grid-template-rows: 192px 230px 318px;
    grid-template-columns: repeat(3, max(230px, 1fr));
    gap: 20px;
    grid-template-areas: 
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
  }

  .footer {
    margin-block-start: 60px;
    padding: 462px 162px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
    bottom: 20px;
  }

  .footer::after {
    top: 20px;
  }
}

@media screen and (width >= 1024px) {
  
  .

}